.imgContainer {
    position: fixed;
    width: 50%;
  }

.img-floppy {
    display: block;
    width: 134px;
    box-shadow: 6px 7px 20px;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 134px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    cursor: grab;
  }

  .imgContainer:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: grab;
  }